/*Altera todos os elementos da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*melhor de alterar a posição dos elementos*/
    display: flex;
    /*Quebra a linha em dispositos menores*/
    flex-wrap: wrap;
}
/*regras gerais*/

/*apresentação*/

#apresentacao{
    /*permite controlar o tamanho do lado direito*/
    flex: 1.4;
    padding: 2rem 4rem; /*tamanho de referência 16px*/
    /*primeiro: cima e baixo; segundo: direita e esquerda;*/
}


#cabecalho{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

#tipo-palestra{
    font-weight: bold;
    color: blue;
}

#cabecalho img{
    height: 50px;
    margin-right: 0.6rem;
}

#apresentacao h2{
    /*altera o tamanho da fonte*/
    font-size: 2.4rem;
    /*tamanho máximo de largura do elemento*/
    max-width: 500px;
    margin-bottom: 1rem;
}

#date{
   margin-bottom: 1rem; 
}

#description{
    max-width: 500px;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

#apresentacao h3{
    margin-bottom: 0.5rem;
}

#users-container{
    display: flex;
    flex-wrap: wrap;
    /*regra de flex box para afastar elementos*/
    gap: 5px;
}

.palestrantes-inline{
    border: 2px solid gray;
    padding: 1rem;
    width: 180px;
    text-align: center;
}

.palestrantes-inline img{
    width: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.palestrantes-inline .nome{
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.palestrantes-inline .cargo{
    font-size: 0.9rem;
}

/* lado formulário */

#inscrever{
    background-image: url("../img/pattern.png");
    /*controla o tamanho do lado esquerdo*/
    flex: 1rem;
    /*mostra a imagem de forma a depender do container*/
    background-size: cover;
    color: white;
}

