img{
    width: 300px;
}

.link-comprar{
    text-decoration: none;
    color: black;
}

.btn-comprar{
    width: 100px;
    background-color: green;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.btn-comprar p{
    text-align: center;
}